////
/// HEADER component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}header
/// @since version 1.0.0
////
.#{$ns}header {
    display: block;
    width: 100%;
    padding: rem(10) rem(30);
    height: rem(65);
    background: color(ns-main);
    &__link {
        display: inline-block;
        vertical-align: middle;
    }

    &__brand{
        margin-top: rem(14);
        padding-left: rem(51);
    }

    &__div{
        width: 100%;

    }

    &__form{
        width: 49.3%;
    }
    &__figure {
        vertical-align: middle;
    }

    &__lupa-btn{
        position: relative;
        right: rem(35);
        top: rem(3);
        color: color(default);
    }

    &__image {
        width: rem(36);
        height: rem(24);
        object-fit: cover;
        object-position: center;
        }

    &__title {
        color: color(danger);
        font-size: rem(18);
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(15);
        &:not(:last-child) {
            &:after {
                content: '•';
                display: inline-block;
                margin-left: rem(15);
                margin-right: rem(15);
            }
        }
    }
    &__txt {
        display: inline-block;
        vertical-align: middle;
        color: color(white);
        font-size: rem(16);
        font-weight: 100;
    }

    &__ul{
        justify-content: space-around;
        width: rem(362);
    }

    &__bg{
        height: rem(75);
        padding: rem(14) 0 rem(15);
        box-shadow: 0 rem(2) rem(6) 0 color(default);
        background-image: linear-gradient(to left, color(lima-header),color(blue-header), color(blue-light-header));
    }

    &__rect-search{
        width: 100%;
        height: rem(40);
        margin: rem(4) 0 rem(2) rem(20);
        padding: rem(9) 0 rem(11) rem(14);
        border-radius: rem(4);
        border: solid rem(1) rgba(69, 121, 176, 0.5);
        background-color: color(white);
    }

    &__li{
        color: color(white);
        text-align: center;
    }

    &__everis{
        font-size: rem(17);
        color: color(white);
        letter-spacing: rem(1);
    }
    &__knowler{
        font-size: rem(16);
        color: color(white);
        font-weight: bold;
        letter-spacing: rem(1);
    }

    &__notifications-profile{
        margin-left: 4.591667vw;
        margin-top: rem(9);
    }

    &__menu{
        display: none;
    }

    &__profile-pic{
        padding-left: rem(16);
    }

    &__icon-header{
        color: color(white);
    }

    &__figure-everisknowler
    {
        display: none;
    }

    &__search-lupa{
        display: none;
    }
}
.flex{
    display: flex;
}

@include media-query (lg) {
   
    .#{$ns}header {
        
        &__brand{
            margin-top: rem(14);
            padding-left: rem(21);
        }

        &__div{
            width: 100%;
    
        }
    
        &__form{
            width: 39.3%;
        }

        &__rect-search{
            width: 90%;
        }

        &__nav {
            padding-left: rem(7);
        }

       &__notifications-profile {
            margin-left: 5.291667vw;
        }

        &__figure-everisknowler
        {
            display: none;
        }

        &__search-lupa{
            display: none;
        }
    }
}

@include media-query(md) {
   
    .#{$ns}header {
        &__menu{
            display: block;
            padding-left: rem(15);
            margin-top: rem(10);
            color: color(white);
        }

        &__nav{
            display: none;

        }

        &__form {
            width: 70.3%;
        }

        &__figure-everisknowler
        {
            display: none;
        }

        &__search-lupa{
            display: none;
        }
    }
}

@include media-query(sm){
    .#{$ns}header {
        &__notifications-profile {
            margin-left: 1.291667vw;
        }

        &__form {
            width: 72.3%;
        }

        &__figure-everisknowler
        {
            display: none;
        }

        &__search-lupa{
            display: none;
        }
        
    }
}

@include media-query(xs){
    .#{$ns}header {
        &__notifications-profile {
            margin-left: 1.291667vw;
        }

        &__form {
            display: none;
        }

        &__div{
            justify-content: flex-end;
        }

        &__bg {
            height: rem(61);
            padding-top: rem(1);
        }

        &__menu {
            margin-top: rem(17);
        }

        &__brand{
            display: none;
        }
        
        &__figure-everisknowler {
            display: block;
            width: rem(55);
            padding-top: rem(9);
            margin-left: rem(14);
        }

        &__notifications-profile {
            margin-right: rem(31) ;
        }

        &__search-lupa{
            display: block;
            margin-top: rem(13);
            margin-right: rem(15);
        }

        &__profile-pic {
            padding-left: rem(11);
        }

        &__figure-notification{
            margin-top: rem(9);
        }
    }

}






