////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}project-card{

    &__card {
        background-color: color(white-card);
        border-radius: rem(3);
        @include box-shadow(0 0 rem(5) color(default));
    }

    &__cards{
        margin-left: rem(24);
    }

    &__header{
        background-color: color(blue-card);
        color: color(white);
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);
    }

    &__header-name{
        margin-top: rem(18);
        margin-left: rem(14);
    }

    &__project-card{
        margin-top: rem(35);
    }

    &__card-subheader{
        background-color: color(blue-lighter-card);
        justify-content: space-around;
        padding: rem(14) 0 rem(10) 0;
        color: color(blue-card);

        li:first-child{
            font-weight: bold;
        }
    }

    &__subheader-background{
        background-color: color(blue-lighter-card);
    }

    &__subheader-projects{
        background-color: color(blue-lighter-card);
        width: 63%;
        justify-content: space-around;
        padding: rem(14) 0 rem(10) 0;
        color: color(blue-card);

        li:first-child{
            font-weight: bold;
        }
    }

    &__projects-li:not(:last-child):after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: color(default-light);
        margin: rem(23) 0 rem(19) 0;
        display: block;
    }

    &__project-card-intranet{
        border-radius: rem(25);
        background-color: color(lima-searchintel);
        color: black;
        height: rem(20);
        width: rem(67);
        text-align: center;
    }

    &__project-card-searchintel{
        border-radius: rem(25);
        background-color: color(lima-searchintel);
        color: color(black);
        height: rem(20);
        margin-left: rem(6);
        width: rem(148);
        text-align: center;
    }

    &__project-card-more{
        border-radius: rem(25);
        border: rem(3) solid color(lima-searchintel);
        height: rem(20);
        margin-left: rem(6);
        width: rem(38);
        text-align: center;
    }

    &__content-projects{
        padding: rem(23) rem(23) 0 rem(25);
    }

    &__project-a{
        text-decoration:underline;
        color: color(blue-card);
        font-size: rem(15);
    }

    &__card-files{
        padding-top: rem(13);
    }

    &__card-project-p{
        padding-top: rem(7);
    }

}