////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}notification-card{

    &__card {
        background-color: color(white-card);
        border-radius: rem(3);
        @include box-shadow(0 0 rem(5) color(default));
    }

    &__cards{
        margin-left: rem(24);
    }

    &__header{
        background-color: color(blue-card);
        color: color(white);
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);
    }

    &__header-name{
        margin-top: rem(18);
        margin-left: rem(14);
    }

    &__content-notifications{
        padding: rem(20) rem(23) 0 rem(27);
    }

    &__notification{
        margin-left: rem(24);
        height: rem(394);
    }

    &__notification-card{
        margin-top: rem(42);
    }

    &__title-notification{
        width: 76%;
        font-weight: bold;
    }

    &__content-notification:not(:last-child):after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: color(default-light);
        margin: rem(24) 0 rem(18) 0;
        display: block;
}




    
    

    


}