////
/// ICON component
///
/// Custom project icon example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}contact-card{


    
    &__card {
        background-color: color(white-card);
        border-radius: rem(3);
        @include box-shadow(0 0 rem(5) color(default));
    }

    &__cards{
        margin-left: rem(24);
    }

    &__header{
        background-color: color(blue-card);
        color: color(white);
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);
    }

    &__header-name{
        margin-top: rem(18);
        margin-left: rem(14);
    }

    &__subheader{
        background-color: color(blue-lighter-card);
        justify-content: space-around;
        padding: rem(14) 0 rem(10) 0;
        color: color(blue-card);

        li:first-child{
            font-weight: bold;
        }
    }

    &__content-contact{
        padding: rem(12) rem(23) 0 rem(27); 
        overflow-y: scroll; 
        height: rem(365);
    }

    &__content-profile:not(:last-child):after{
        content: "";
        width: 100%;
        height: rem(1);
        background-color: color(default-light);
        margin: 0 0 rem(7) 0;
        display: block;
    }

    &__content-contact:not(:last-child):after{
        content: "";
        width: 100%;
        height: rem(1);
        background-color: color(default-light);
        margin: rem(24) 0 rem(18) 0;
        display: block;
    }

    &__figure-contact{
        width: rem(42);
    }

    &__contact-p{
        position: relative;
        margin-left: rem(52);
        bottom: rem(19); 
    }

    &__contact-a{
        text-decoration:underline;
        color: color(blue-card);
        font-size: rem(15);
        margin-top: rem(6);
        margin-left: rem(9);
    }

    &__scrollbar{
        height: rem(459);
    }


   
}


