////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}mail-card{

    &__card {
        background-color: color(white-card);
        border-radius: rem(3);
        @include box-shadow(0 0 rem(5) color(default));
    }

    &__cards{
        margin-left: rem(24);
    }

    &__header{
        background-color: color(blue-card);
        color: color(white);
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);
    }

    &__header-name{
        margin-top: rem(18);
        margin-left: rem(14);
    }

    &__content-mail{
        margin-left: rem(28);
        margin-right: rem(26);
    }

    &__date-mail{
        font-size: rem(12); 
        margin-top: rem(19);
    }

    &__figure-mail{
        width: rem(21);
        margin-top: rem(10);
    }

    &__p-mail{
        margin-left: rem(5);
        margin-top: rem(14);
        font-size: rem(13);
    }

    &__mail-a{
        text-decoration:underline;
        color: color(blue-card);
        font-size: rem(15);
    }

    &__mail-p{
        padding-top: rem(10);
        font-size: rem(13);
    }

    &__mail-p:not(:last-child):after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: color(default-light);
        margin: rem(24) 0 rem(18) 0;
        display: block;
    }
}