////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}event-card{

    &__card {
        background-color: color(white-card);
        border-radius: rem(3);
        @include box-shadow(0 0 rem(5) color(default));
    }

    &__cards{
        margin-left: rem(24);
    }

    &__header{
        background-color: color(blue-card);
        color: color(white);
        text-transform: uppercase;
        font-size: rem(15);
        height: rem(52);
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);
    }

    &__header-name{
        margin-top: rem(18);
        margin-left: rem(14);
    }

    &__date-today{
        color: color(blue-card);
        margin-top: rem(26);
        margin-left: rem(23);
        text-transform: uppercase;
    }

    &__date-tomorrow{
        color: color(blue-card);
        margin-top: rem(26);
        margin-left: rem(23);
        text-transform: uppercase;
    }

    &__appointment{
        margin-left: rem(25);
        margin-top: rem(13);
        border-radius: rem(25);
        background-color: color(blue-card);
        color: color(white);
        width: rem(45);
        height: rem(45);
        padding-top: rem(14);
        padding-left: rem(4);
    }

    &__a{
        text-decoration:underline;
        color: color(blue-card);
        margin-left: rem(11);
        margin-top: rem(21);
        width: 60%;    
    }

    &__p{
        margin-left: rem(79);
        font-size: rem(13);
    }


    
    

    


}