////
/// MAIN component
///
/// Custom project main example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}main {

    &__main{
        display: flex;
        flex-wrap: wrap;
    }

    &__div-first-container{
        width: rem(314);
        margin-top: rem(55);
    }

    &__div-second-container{
        width: rem(604);
        margin-left: rem(24);
        margin-top: rem(55);
    }

    &__div-third-container{
        margin-left: rem(23);
        margin-top: rem(55);
        height: rem(414);
    }

    &__bg{
        background: linear-gradient( to bottom, color(green-water), color(white));
    }

    &__card {
        background-color: color(white-card);
        border-radius: rem(3);
        @include box-shadow(0 0 rem(5) color(default));
    }

    &__cards{
        margin-left: rem(24);
    }

    &__card-footer::before{
        content: "";
        width: 100%;
        height: rem(1);
        background-color: color(default-light);
        margin: rem(20) auto;
        display: block;
    }

    &__card-footer{
        text-align: center;
        height: rem(49);
        a{
            color: color(blue-card);
        }
    }

    &__card-contact-icon{
        margin-top: rem(8);
        margin-left: rem(23);
        color: color(blue-card);
    }
}

//Media queries
@include media-query(lg){
    .#{$ns}main {
        &__div-first-container{
            width: rem(333);
            margin-top: rem(48);
        }

        &__div-second-container{
            width: rem(309);
            margin-left: rem(24);
            margin-top: rem(48);
        }

        &__div-third-container{
            margin-left: rem(24);
            margin-top: rem(48);
            width: rem(309);
            height: rem(418)
        }
    }
    .#{$ns}project-card {
        &__subheader-projects {
            width: rem(303);
        }
    }
}

@include media-query(md){
    .#{$ns}main {
        &__div-first-container{
            width: rem(294);
        }

        &__div-second-container{
            width: rem(443);
        }

        &__div-third-container{
            margin-left: rem(24);
            margin-top: rem(48);
            width: rem(274);
            height: rem(418)
        }
    }

    .#{$ns}project-card {
        &__subheader-projects {
            width: rem(423);
        }
    }

    .#{$ns}contact-card {
        &__content-profile:not(:last-child):after {
            content: "";
            width: 100%;
            height: 1px;
            height: 0.07143rem;
            background-color: #d6d8db;
            margin: 0 0 7px 0;
            margin: 9px 0 0.5rem 0;
            display: block;
        }

        &__contact-p {
            position: relative;
            margin-left: 49px;
            bottom: 0;
        }  
    }
}

@include media-query(sm){
    .#{$ns}main {
        &__div-first-container{
            width: rem(291);
            margin-top: rem(33);
        }

        &__cards {
            margin-left: rem(14);
        }

        &__div-second-container{
            width: rem(275);
            margin-left: rem(17);
            margin-top: rem(33);
        }

        &__div-third-container{
            margin-left: rem(16);
            margin-top: rem(48);
            width: rem(276);
            height: rem(415);
        }
    }   
    .#{$ns}project-card {
        &__subheader-projects {
            width: rem(272);
        }
    }
}

@include media-query(xs){
    .#{$ns}main {
        &__div-first-container{
            width: rem(304);
            margin-top: rem(31);
        }

        &__cards{
            margin-left: rem(14);
        }

        &__div-second-container{
            width: rem(288);
            margin-left: rem(16);
            margin-top: rem(20);
        }

        &__div-third-container{
            margin-left: rem(18);
            margin-top: rem(48);
            width: rem(287);
            height: rem(418);
        }

        &__cards {
            margin-left: rem(24);
            margin-left: 1.01429rem;
        }
    }   
    .#{$ns}project-card {
        &__subheader-projects {
            width: rem(272);
        }
    }

    .#{$ns}contact-card {
        &__contact-p {
            position: relative;
            margin-left: rem(50);
            bottom: rem(1);
        }
       
    }
}











