////
/// ICON component
///
/// Custom project icon example
///
/// @access public
/// @author Dfront Specialist Team
/// @group btn
/// @name .#{$wf__ns}btn
/// @since version 1.0.0
////

.#{$ns}icon-card {

    &__header-left{
        margin-top: rem(20);
        margin-left: rem(25);
    }

    &__header-event{
        margin-top: rem(17);
        margin-left: rem(143);
    }

    &__header-mails{
        margin-top: rem(18);
        margin-left: rem(452);
    }

    &__header-contacts{
        margin-top: rem(17);
        margin-left: rem(91);
    }

    &__header-notification{
        margin-top: rem(17);
        margin-left: rem(91);
    }

    &__check-notification{
        color: color(lima-header);
        margin-left: rem(40);
    }

    &__warning-notification{
        color: color(warning);
        padding-right: rem(7);
    }
   
}


