////
/// BODY element
///
/// Here we got the body styles
////
body {
	position            		:	relative;
	font-family         		:	$ns-font-default;
	color               		:	color(ns-tertiary);
	background    				:	#f5f5f5;
	-webkit-text-size-adjust	:	100%;
}